<!doctype html>

<html>

<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>+Farma</title>
    <link href="css/home.css" rel="stylesheet" type="text/css" />
    <link href="css/login.css" rel="stylesheet" type="text/css" />
</head>

<body class="centralize">
    <div class="container-login">
            <div class="content-box">
                <div class="form-box" style="background-color: black;">
                    <h2 style="color: white;">Login</h2>
                        <form  action="/login" method="POST">
                        <div class="input-box">
                            <div><label style="color: white;">Email</label></div>
                            <input style="display: block;" type="email" name="email" id="email" placeholder="seu@email.com" onchange="onChangeEmail()"/>
                        </div>
                        <div class="input-box">
                            <div><label style="color: white;">Senha</label></div>
                            <input type="password" name="password" id="password" placeholder="Senha" onchange="onChangePassword()"/>
                        </div>
                        <div>
                            <p style="color: white;">Não possui cadastro? <a href="/register" style="color: #8de9e0">Inscrever-se</a></p>
                        </div>
                        <div>
                             <p style="color: white;">Continar sem cadastro? <a href="/" style="color: #8de9e0"> clique aqui</a></p>
                        </div>
                        <div>
                            <button type="submit" class="solid" id="login-button">Entrar</button>
                        </div>
                        <div>
                            <a href="/RecSenha"><button type="button" class="clear">Recuperar senha</button></a>
                        </div>
                        
                        
                    </form>
                    <h3 style="color: white;">Logar Com</h3>
                        <ul class="ul">
                        <li><img src="img/face.png"></li>
                        <li><img src="img/google.png"></li>
                    
                        </ul>
            </div>
        </div>    
    </div>        
</body>

<link rel="stylesheet" href="../public/css/login.css">


<script src="js/login.js"></script>
<script src="js/validations.js"></script>
<script src="js/loading.js"></script>

<script src="https://www.gstatic.com/firebasejs/9.6.7/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.7/firebase-auth-compat.js"></script>
<script>
    const firebaseConfig = {
  apiKey: "AIzaSyAonVCyUhVNX1Chvv2n8syWMEAR5D5GFlM",
  authDomain: "plusfarma-75f42.firebaseapp.com",
  projectId: "plusfarma-75f42",
  storageBucket: "plusfarma-75f42.appspot.com",
  messagingSenderId: "488094859470",
  appId: "1:488094859470:web:43cca896c5219f11a7509f",
  measurementId: "G-J38RG16PV7"
};
    firebase.initializeApp(firebaseConfig);
</script>

</html>